<div>
    {{#each productos}}
        <h1>Producto: {{this.title}}, con ID: {{ this.id}}</h1>
        <p>Descripcion: {{this.description}}</p>
        <h2>Precio: {{this.price}}</h2>
        <p>Stock: {{this.stock}}</p>
    {{/each}}

</div>