<div>
    <h1>Hola</h1>
    {{#each productosMapeados}}
        <h1>Producto: {{this.title}}, con ID: {{ this._id}}</h1>
        <p>Descripcion: {{this.description}}</p>
        <h2>Precio: {{this.price}}</h2>
        <p>Stock: {{this.stock}}</p>
    {{/each}}

</div>