{{#if user}}
<div id="cart-id" data-cart-id="{{user.cart}}" style="display: none;"></div>
<h1>Bienvenido {{user.last_name}}, {{user.first_name}}</h1>
<h2>Rol: {{user.role}}</h2>
<h3>id carrito: {{user.cart}}</h3>
{{/if}}
<form action="/api/carts/{{user.cart}}" method="get">
    <button class="btnMios" type="submit">Ir al carrito</button>
</form>
<h1>Listado de Productos:</h1>
<ul>
    {{#each payLoad}}
    <li>{{this.title}}</li>
    <li>{{this.price}}</li>
    <li>{{this.description}}</li>
    <li>{{this.stock}}</li>
    <form action="/api/carts/{{../user.cart}}/product/{{this._id}}" method="POST">
        <button class="btnMios" type="submit">Agregar al Carrito</button>
    </form>
    <li>--------------------</li>
    {{/each}}
</ul>

{{#if hasPrevPage}}
<a href={{prevLink}}>Anterior</a>
{{/if}}

{{#if hasNextPage}}
<a href={{nextLink}}>Siguiente</a>
{{/if}}

<p>Pagina {{currentPage}} de {{totalPages}} </p>